@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-biggest{
    @apply text-5xl;
  }

  .text-big {
    @apply text-3xl;
  }

  .text-h1 {
    @apply text-2xl;
  }

  .text-h2 {
    @apply text-xl;
  }

  .text-h3 {
    @apply text-lg;
  }

  .text-normal {
    @apply text-base;
  }

  .text-small {
    @apply text-sm;
  }

  .text-smallest {
    @apply text-xs;
  }

  @media screen and (min-width: 968px) {
    .text-biggest{
      @apply text-7xl;
    }

    .text-big {
      @apply text-4xl;
    }

    .text-h1 {
      @apply text-4xl;
    }

    .text-h2 {
      @apply text-2xl;
    }

    .text-h3 {
      @apply text-xl;
    }

    .text-normal {
      @apply text-lg;
    }

    .text-small {
      @apply text-base;
    }

    .text-smallest {
      @apply text-sm;
    }
  }
}

@layer components {

  /* ======================== REUSE COMPONENTS ================== */
  .layout {
    @apply max-w-[1240px] w-[90%] ml-auto mr-auto 3xl:max-w-[1536px] font-poppins;
  }

  .gradient-primary{
    background: linear-gradient(90deg, rgba(0, 87, 255, 1) 0%, rgba(22, 207, 203, 1) 100%);
  }

  /* ======================== NAVBAR SECTION  ================== */
  .nav__link{
    @apply hover:stroke-[6] cursor-pointer;
  }

  .nav__link:hover{
    -webkit-text-stroke: 0.05rem #000;
  }

  .dropdown__link{
    @apply [&:hover>div:last-child]:opacity-100 [&:hover>div:last-child]:block relative
  }

  .dropdowns{
    @apply rounded-md overflow-hidden mt-1 opacity-0 hidden absolute shadow-sm
  }

  .dropdown__item{
    @apply bg-slate-200 px-6 py-4 hover:bg-slate-300 flex 
  }

  /* ======================== HEADER SECTION  ================== */
  .hero {
    background: url(./assets/hero.jpg) top right no-repeat;
    background-size: cover;
  }
}